<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="pakage + interface" -->
<mapper namespace="com.tasty.list.mapper.ListMapper">
	<!-- 1. 게시판 리스트 -->
	<!-- id="method" -->
	<select id="list" resultType="com.tasty.member.vo.shopMemberVO">
<!-- 		select rnum, m.shopNo, m.shopName, m.content, m.address, b.cnt -->
<!-- 		from -->
<!-- 		( -->
<!-- 			select rownum rnum, m.shopNo, m.shopName, m.content, m.address, b.cnt -->
<!-- 			from( -->
<!-- 		select m.shopNo, m.shopName, m.content, m.address, b.cnt -->
<!-- 				from shopMember m, bookMark b -->
<!-- 				WHERE m.shopNo = b.shopNo; -->
		select rnum, shopNo, shopName, content, address, tel
		from
		(
			select rownum rnum, shopNo, shopName, content, address, tel 
			from(
				select shopNo, shopName, content, address, tel
				from shopMember
				
				<!-- mybatis에서는 데이터 자동변환을 한다. 글자가 한자이면 char -->
				<include refid = "search" />
				
				order by shopNo desc
			)
		)
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<!-- 검색 조건 쿼리 따로 저장하기 -->
	<sql id = "search">
	
		  <!-- mybatis에서는 데이터 자동변환을 한다. 글자가 한자이면 char -->
		  <if test="word != null and word != ''.toString()">
		  	<!-- 검색하는 데이터가 있는 경우 where가 나온다. -->
		  	where 1 = 0
		  	<if test="key == 'n'.toString()">
		    	OR shopName like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'c'.toString()">
		    	OR content like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'a'.toString()">
		    	OR address like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'nc'">
		    	OR shopName like '%' || #{word} || '%'
		    	OR content like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'na'">
		    	OR shopName like '%' || #{word} || '%'
		    	OR address like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'ca'">
		    	OR content like '%' || #{word} || '%'
		    	OR address like '%' || #{word} || '%'
		    </if>
		  	<if test="key == 'nca'">
		    	OR shopName like '%' || #{word} || '%'
		    	OR content like '%' || #{word} || '%'
		    	OR address like '%' || #{word} || '%'
		    </if>
		  </if>
	
	</sql>
	
	
	<!-- 1-1. 게시판 전체 글의 갯수 -->
	<select id="getTotalRow" resultType="java.lang.Long">
		select count(*) from shopMember
		
		  <!-- mybatis에서는 데이터 자동변환을 한다. 글자가 한자이면 char -->
		  <include refid ="search" />

	</select>
	
	<!-- 2. 맛집 보기 -->
	<select id="view" resultType="com.tasty.member.vo.shopMemberVO">
		select shopName, shopNo, address, tel, content, now, total, wait, id
		from shopMember
		where shopNo = #{shopNo}
	</select>
	
	<!-- 2-2. 게시판 조회수 1증가 -->
<!-- 	<update id="increase"> -->
<!-- 		update board set hit = hit + 1 -->
<!-- 		where no = #{no} -->
<!-- 	</update> -->

	<!-- 3. 게시판 글쓰기 -->
<!-- 	<insert id="write"> -->
<!-- 		insert into board(no, title, content, writer, pw) -->
<!-- 		values(board_seq.nextval, #{title}, #{content}, #{writer}, #{pw}) -->
<!-- 	</insert> -->
	
	<!-- 4. 맛집 수정 -->
	<update id="update">
		update shopMember set shopName = #{shopName}, address = #{address},
		 content = #{content}, tel = #{tel}
		where shopNo = #{shopNo}
	</update>
	
	<!-- 5. 맛집 삭제 -->
	<delete id="delete">
		delete from shopMember
		where no = #{shopNo} and pw = #{pw}
	</delete>
	
</mapper>